<div class="page-header">
	
	<%= link_to "Post a new status", new_status_path, class: "btn btn-success pull-right" %>
	<h1>All of the statuses</h1>

</div>

<% @statuses.each do |status| %>
<div class="status">
	<div class="row">
	<div class="span1">

	</div>
	<div class="span7">
	<strong></strong>
	<p><%= status.content %></p>
	<div class="meta">
		<%= link_to time_ago_in_words(status.created_at) + " ago", status %>
		<span class="admin">
			| <%= link_to "Edit", edit_status_path(status) %> | <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure, you want to delete this status?"} %> 
		</span>
	</div>
</div>
</div>
</div>
<% end %>

